﻿@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width:85%;
    margin: 0 auto;
}

.imagen {    
    height:300px;
}


.contenido {
    margin-top: 13%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.botones {
    display: flex;
    margin: 15px 0px;
    justify-content: space-around;
}

.botones a, input[type="submit"]{
    background:none;
    text-decoration:none;
    padding:10px;
    color: black;
    border: 2px solid black;
    transition: .2s all ease;
}

.botones a:hover, input[type="submit"]:hover {
    background: black;
    color: white;
    transform: scale(1.1,1.1);
}

.centrar {
    display:flex;
    justify-content:center;
}

.menu {
    display:flex;
    padding: 15px 0px;
    border-bottom:2px solid black;
}

.menu a {
    padding: 10px;
}

width{
    width: 300px;
}

.bodyCenter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.tabla {
    width: 100%;
}